## Manually : 

Note : If the entire row is NULL or NA then don't bother filling in the value bettr to discard the entire row instead
- [ ] Remove the "impact" option by classifying them into other `issues`
- [ ] Combine some of the causes into one `issues`
- [ ] Can we fill in the values for `impact_in_process`?

## Convention : 
1. Everything is in lower case
2. For boolean values it is always True or False

In [66]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 2050)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import matplotlib.pyplot as plt
%store -r selected_1

## Helper Fucntions

In [2]:
def split_dates(df, column_name) -> pd.DataFrame:
    if type(df[column_name][0]) == str:
        df[[str(column_name)+'_year', 
            str(column_name)+'_month',
            str(column_name)+'_day']] = df[column_name].str.split("-", expand=True)
    
    if type(df[column_name][0]) == pd._libs.tslibs.timestamps.Timestamp:
        df.loc[:, str(column_name)+'_year'] = df.loc[:, column_name].dt.year
        df.loc[:, str(column_name)+'_month'] = df.loc[:, column_name].dt.month
        df.loc[:, str(column_name)+'_day'] = df.loc[:, column_name].dt.day
    return df

In [3]:
unclean_data = pd.read_excel('Data_Video_Volunteers (translated).xlsx', sheet_name=0)
unclean_data.reset_index(drop=True, inplace=True)
unclean_data.head()

,id,id,state_id,state_name,district,cc_id,cc_name,mentor,story_pitch_date,description,...,impact_facebook_url,impact_facebook_publish_date,impact_youtube_url,impact_youtube_publish_date,impact_video_youtube_subtitle,impact_website_url,impact_website_publish_date,created_by,created_at,updated_at
0,2465,JH_5257,16,Jharkhand,Palamu,438,Bhaskar Raj,Shikha Paharin,2021-08-10,Before the primary health center in Satbarwa b...,...,NaN,NaT,NaN,NaT,NaN,NaN,NaN,Bhaskar Raj,2021-08-11 15:22:27.269,2022-06-01 09:39:22.169
1,2476,JH_5259,16,Jharkhand,Khunti,409,Ravinder Baraik,Shikha Paharin,2021-08-13,"District-Khuti, Block-Raniya Community Health ...",...,NaN,NaT,NaN,NaT,NaN,NaN,NaN,Ravinder Baraik,2021-08-13 03:47:17.737,2022-06-01 09:47:22.692
2,2879,JH_5291,16,Jharkhand,Garhwa,440,Prashant Toppo,Graduate CC,2021-10-22,The ration card of 15 primitive tribal familie...,...,NaN,NaT,NaN,NaT,NaN,NaN,NaN,Prashant Toppo,2021-10-24 08:33:47.204,2022-03-30 13:01:53.727
3,2881,JH_5292,16,Jharkhand,Garhwa,440,Prashant Toppo,Graduate CC,2021-10-23,"total of 18 primitive tribal families, includ...",...,NaN,NaT,NaN,NaT,NaN,NaN,NaN,Prashant Toppo,2021-10-24 09:59:51.898,2022-03-30 13:01:53.727
4,2639,JH_5277,16,Jharkhand,Dhanbad,83,Halima Ejaz,Guruprasad Pednekar,2021-08-01,Follow up video of JH_5075 & JH_5053 - for CHA...,...,NaN,NaT,NaN,NaT,NaN,NaN,NaN,Amrita Anand,2021-09-01 12:31:50.515,2022-06-01 09:41:51.210

In [9]:
# Original column names had a space in the front
unclean_data.columns = unclean_data.columns.str.strip()
unclean_data = unclean_data.fillna('NA')

In [10]:
unclean_data.columns

Index(['id', 'id', 'state_id', 'state_name', 'district', 'cc_id', 'cc_name',
       'mentor', 'story_pitch_date', 'description',
       ...
       'impact_facebook_url', 'impact_facebook_publish_date',
       'impact_youtube_url', 'impact_youtube_publish_date',
       'impact_video_youtube_subtitle', 'impact_website_url',
       'impact_website_publish_date', 'created_by', 'created_at',
       'updated_at'],
      dtype='object', length=133)

In [ ]:
#  Cleaned datafrane will be the combinatino of all the batches

## Cleaning Status - 1
- [x] 'cc_name', 
- [x] 'mentor', 
- [ ] 'description', 
- [x] 'issues',
- [x] 'youtube_publish_date',
- [x] 'updated_at', 
- [ ] 'district', 
- [x] 'impact_possible', 
- [x] 'is_impact',
- [x] 'impact_in_process',
- [ ] 'target_official', 
- [ ] 'call_to_action',
- [ ] 'impact_plan'

In [11]:
batch_1 = unclean_data[selected_1]
batch_1.columns

Index(['cc_name', 'mentor', 'description', 'issues', 'youtube_publish_date',
       'updated_at', 'district', 'impact_possible', 'is_impact',
       'impact_in_process', 'target_official', 'call_to_action',
       'impact_plan'],
      dtype='object')

In [ ]:
batch_1.info()

### Batch-1

In [ ]:
#description

In [ ]:
#youtube_publish_date

assert batch_1['youtube_publish_date'].isna().sum() == 0
batch_1 = split_dates(batch_1, 'youtube_publish_date')

In [ ]:
batch_1.columns

In [ ]:
# dates of publishing youtube videos
publish_dates = pd.DataFrame(batch_1['youtube_publish_date'].value_counts(dropna=False).reset_index())
publish_dates.columns = ['date', 'count']
publish_dates.plot('date','count', figsize=(20,4))

In [ ]:
#updated_at

assert batch_1['updated_at'].isna().sum() == 0
# check if the publish date is the same as the databse update date ?
if(batch_1['updated_at'].equals(batch_1['youtube_publish_date'])):
    batch_1.drop('updated_at', axis=1, inplace=True)
else:
    split_dates(batch_1, 'updated_at')
batch_1.columns

In [ ]:
#issues

batch_1.loc[:,'issues'] = batch_1.loc[:,'issues'].str.strip().str.lower()
batch_1.loc[:, 'issues'].value_counts()

In [ ]:
# is_impact

batch_1.loc[:,'is_impact'] = batch_1.loc[:,'is_impact'].map({1.0:True, 0.0:False, None: 'NA'})
batch_1['is_impact'].value_counts(dropna=False)

In [ ]:
# impact_possible

# batch_1.loc[:,'impact_possible'].value_counts(dropna=False)

batch_1.loc[:,'impact_possible'] = batch_1.loc[:,'impact_possible'].str.strip().str.lower()
batch_1.loc[:,'impact_possible'] = batch_1.loc[:,'impact_possible'].map({'no':False,'yes':True})  
batch_1.loc[:,'impact_possible'].value_counts(dropna=False)

In [20]:
#impact_in_process

batch_1['impact_in_process'] = batch_1['impact_in_process'].str.lower().str.strip()
batch_1.loc[:, 'impact_in_process']= batch_1.loc[:,'impact_in_process'].map({'no' : False, 'yes' :True, 'na':'NA'})
batch_1.loc[:,'impact_in_process'].value_counts()

In [110]:
# target_official 

temp = batch_1.copy()
# temp['target_official'].value_counts()

temp['target_official'] = temp['target_official'].str.strip()
temp = temp['target_official'].str.split(",", expand = True)

In [112]:
temp.head(10)

                     0     1     2     3
0                  now  None  None  None
1                   NA  None  None  None
2               B.D.O.    MO  None  None
3               B.D.O.  None  None  None
4                   NA  None  None  None
5                   NA  None  None  None
6  electrical engineer  None  None  None
7                   NA  None  None  None
8                   NA  None  None  None
9                   NA  None  None  None

In [109]:
# To DO : Select what to map and what to change


map = {'bso' : 'BSO', 'dpo' : 'DPO'}
# replace . with ''
temp.replace('.', '')
word = ["NA", 'now', 'no', 'n', 'N/A']
small_words = temp.loc[(temp[0].str.len()<4) & (~temp[0].str.contains('|'.join(words for words in word)))]
small_words[0].unique()

array(['bso', 'DC', 'dpo', 'BEO', 'BHO', 'BDO', 'Co', 'CO', 'CEO', 'bdo',
       'DEO', 'DM', 'SBI', 'DTO', 'DC ', 'SDO', 'SP', 'DSP', 'GM', 'B',
       'ssp', 'MP', 'sdm'], dtype=object)

In [113]:
temp[temp[0]!='NA'].head(10)

                      0     1     2     3
0                   now  None  None  None
2                B.D.O.    MO  None  None
3                B.D.O.  None  None  None
6   electrical engineer  None  None  None
13                  now  None  None  None
18               B.D.O.  None  None  None
20                   no  None  None  None
21               B.D.O.  None  None  None
22               B.D.O.  None  None  None
23               B.D.O.  None  None  None

In [75]:
len(temp[0].values)

2002